<nav class="teal lighten-2">
    <a class="waves-effect waves-teal btn-flat btn-large">
        <i class="material-icons">menu</i>
    </a>
    <a class="waves-effect waves-teal btn-flat btn-large" routerLink="companyadd" routerLinkActive="active">
        <i class="material-icons">note_add</i>
    </a>
    <a class="waves-effect waves-teal btn-flat btn-large right" routerLink="/logout" routerLinkActive="active">
        <i class="material-icons">exit_to_app</i>
    </a>

</nav>

<div class="container">
    <p>Pagina Manager</p>
    <router-outlet></router-outlet>
</div>