<p>Logado com {{ currentUser?.email }}</p>
<div *ngIf="companiesService.companies$; else nenhumaEmpresaCadastrada">
    <p>
        Empresas:
    </p>
    <!-- Mostra empresas cadastrados -->
    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion" *ngFor="let company of myCompanies$ | async">
        <li>
            <div class="collapsible-header">
                {{ company.name }}
                <a class="button is-light right" [routerLink]="['/rating',company.name]" routerLinkActive="active">
                    <i class="material-icons">open_in_new</i>
                </a>
            </div>
            <div class="collapsible-body">
                {{ company.name }}
            </div>
        </li>
    </ul>
</div>
<ng-template #nenhumaEmpresaCadastrada>Nenhuma empresa cadastrada</ng-template>
